body {
    font-family: roboto;
}
/* Header */
.header {
background-color: #FFF;
}
.logo {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.logo-web{
font-family: raleway;
color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-list {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;
    
}

.nav-list:active {
    display: flex;
    width: 48px;
    height: 52px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    color: #404BBF;
    text-decoration: none;
}

.nav-contacts {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        text-decoration: none;
    }

.nav-contacts:active{
    display: flex;
        width: 153px;
        height: 24px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: #404BBF;

}
/* Main */
.main-section {
background-color:  #2E2F42;
width: 1440px;
height: 600px;
}
.main-header {
    color:  #FFF;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.12px;
        padding-left: 472px;
        padding-right: 472px;
padding-top: 188px;
padding-bottom: 0px;
margin-bottom: 48px;
    }
    .order-button {
margin-left: 636px;
border-radius: 4px;
background: #4D5AE5;
display: inline-flex;
color: #FFF;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        cursor: pointer;
        border-radius: 4px;
        border : 0px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
